@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
}
body {
  max-width: 100%;
  min-height: 100dvh;
}
.wrapper {
  padding: 1rem;
}

h1 {
  padding: 10px 0;
}

h1 span {
  font-size: 2.5rem;
  background-color: #defc52;
  padding: 0 0.4rem;
  font-style: bold;
  font-weight: 700;
}

h2 {
  margin: 15px 0;
  margin-left: 3px;
}
main,
ul {
  margin-left: 30px;
  margin-bottom: 10px;
}

.contenedor {
  padding: 1rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.container {
  padding: 5px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contenedor {
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.card {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 250px;
  height: auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  -webkit-box-shadow: -5px 5px 14px -1px rgba(0, 0, 0, 0.39);
  box-shadow: -5px 5px 14px -1px rgba(0, 0, 0, 0.39);
}

.card .card-content {
  border-top: 1px solid #ccc;
  margin-top: 20px;
  padding: 5px 0;
}

.card .card-action {
  height: 25px;
}

.card .card-action .btn {
  background-color: #e91e63;
  color: white;
  width: 100%;
  height: 30px;
  border: none;
  border-radius: 3px;
}

.card .card-image {
  width: 100%;
}

.card .card-image img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

form .box {
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  justify-self: center;
}

input {
  font-size: 1.2rem;
}

.text {
  font-size: 1.3rem;
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  font-weight: 600;
  background-color: cornflowerblue;
}

.hide {
  display: none;
}

.active {
  display: block;
}

.error {
  font-size: 1.3rem;
  width: 300px;
  border: 1px solid;
  padding: 10px;
}

.btn {
  width: 100px;
  height: 43px;
  border: none;
  outline: none;
  background-color: transparent;
  border-radius: 8px;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
}

.btn-success {
  background-color: rgb(27, 226, 27);
}
.btn-normal {
  background-color: rgb(40, 166, 234);
}

/* CLOCK STYLES */
main.wrapper-examples {
  background: #ff8008;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #ffc837, #ff8008);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #ffc837, #ff8008);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-clock,
.container-chronometer,
.container-token {
  width: 450px;
  height: 280px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 3px 4px 21px -2px rgba(0, 0, 0, 0.38);
  -webkit-box-shadow: 3px 4px 21px -2px rgba(0, 0, 0, 0.38);
  -moz-box-shadow: 3px 4px 21px -2px rgba(0, 0, 0, 0.38);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container-token {
  height: 240px;
  justify-content: flex-end;
}

.container-chronometer {
  min-width: 600px;
  max-width: 600px;
}
.container-chronometer .display {
  display: flex;
  justify-content: space-between;
  width: 550px;
  padding: 5px;
  background-color: #dddddd;
  border-radius: 4px;
}
.container-chronometer .display span {
  text-align: center;
  width: 22%;
}
.container-clock .clock,
.container-chronometer .chronometer {
  font-size: 5.3rem;
  letter-spacing: 3px;
}

.container-clock .clock {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.clock span {
  background-color: rgb(235, 235, 235);
  width: 28%;
  text-align: center;
  border-radius: 5px;
}
.container-clock .clock .seconds {
  font-size: 3rem;
  margin-left: 5px;
  width: 20%;
  /* align-self: end; */
  /* margin-bottom: 15px; */
}

.container-clock .info {
  padding: 4px;
  font-size: 1.5rem;
}

.container-chronometer .container-buttons {
  width: 100%;
  padding: 30px 0 0 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.container-buttons button {
  width: 60px;
  height: 60px;
  padding: 10px;
  background-color: rgb(36, 231, 117);
  border: none;
  border-radius: 50%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 3px 4px 21px -2px rgba(0, 0, 0, 0.38);
  -webkit-box-shadow: 3px 4px 21px -2px rgba(0, 0, 0, 0.38);
  -moz-box-shadow: 3px 4px 21px -2px rgba(0, 0, 0, 0.38);
}

.container-buttons button:nth-child(2) {
  background-color: #d57c39;
}

.container-buttons button:nth-child(3) {
  background-color: #ee361d;
}

.container-buttons button:nth-child(4) {
  background-color: #d539cd;
}

button i {
  font-size: 1.5rem;
}

.container-buttons button:nth-child(1):disabled,
.container-buttons button:nth-child(2):disabled,
.container-buttons button:nth-child(3):disabled,
.container-buttons button:nth-child(4):disabled {
  background-color: rgb(171, 173, 172);
}

.container-token div {
  width: 90%;
  height: 140px;
}

.container-token div:nth-child(2) {
  text-align: center;
}

.container-token div input {
  width: 90%;
  height: 40px;
  outline: none;
  padding: 0 5px;
  margin-bottom: 20px;
  border: none;
  text-align: center;
  font-size: 2.3rem;
}

.container-token h1 {
  margin-bottom: 15px;
}

.container-token progress[value] {
  width: 100%;
  height: 4px;
  border: none;
  border-radius: 0 0 8px 8px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #e91e63;
}

progress[value]::-webkit-progress-bar,
progress[value]::-moz-progress-bar {
  background-color: gold;
}
.animation {
  animation: animation 1s ease-in-out infinite;
}

@keyframes animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
