@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
}
body {
  min-height: 100dvh;
}
.wrapper {
  padding: 1rem;
}

h1 {
  padding: 10px 0;
}

h1 span {
  font-size: 2.5rem;
  background-color: #defc52;
  padding: 0 0.4rem;
  font-style: bold;
  font-weight: 700;
}

h2 {
  margin: 15px 0;
  margin-left: 3px;
}
main,
ul {
  margin-left: 30px;
  margin-bottom: 10px;
}

.contenedor {
  padding: 1rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.box {
  background-color: #eaff6a;
  padding: 40px;
  width: 300px;
  border-radius: 20px;
  box-shadow: 3px 1px 20px -2px rgba(0, 0, 0, 0.44);
  -webkit-box-shadow: 3px 1px 20px -2px rgba(0, 0, 0, 0.44);
  -moz-box-shadow: 3px 1px 20px -2px rgba(0, 0, 0, 0.44);
}

.caja {
  width: 550px;
  height: 368px;
  background-color: yellow;
  background-size: cover;
  border: 15px rgb(253, 233, 12) solid;
  padding: 50px;
  margin: 100px;
}

img {
  width: 200px;
  height: 200px !important;
  object-fit: cover;
}

.card {
  margin-top: 10px;
  padding: 1.3rem;
  width: 250px;
  height: 350px;
  border: 1px solid #777;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.card h3 {
  text-transform: capitalize;
}

.card-action {
  max-width: 100%;
}
.box {
  padding: 5px;
  border: 0.14rem solid rgb(30, 214, 36);
  border-radius: 5px;
  font-size: 1.3rem;
}

img {
  width: 200px;
  height: 200px !important;
  object-fit: cover;
}

.card {
  width: 250px;
  border: 1px solid;
  padding: 20px;
}

.card form input {
  margin-top: 15px;
  font-size: 1.3rem;
}

.card-action {
  max-width: 100%;
}

#mensaje {
  font-style: italic;
  font-size: 1.3rem;
}

.error {
  color: red;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid red;
}

.contenedor {
  font-size: 1.3rem;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.p-3 {
  padding: 10px;
  margin-bottom: 10px;
}

.btn {
  padding: 8px;
  width: 8rem;
  border: none;
  background-color: transparent;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn:nth-child(4) {
  margin-top: 15px;
}

.btn-lg {
  width: 12rem;
  height: 3rem;
  font-size: 1.2rem;
}

.btn-success {
  background-color: rgb(110, 186, 110);
  color: white;
}

.btn-normal {
  background-color: rgb(123, 127, 246);
}

.btn-warn {
  background-color: rgb(226, 246, 123);
}

.credit-card {
  border: 0.7px solid #777;
  border-radius: 8px;
  width: 50%;
  margin: 20px auto;
}

.form-control input,
input[type="date"] {
  font-size: 1.3rem;
}

input,
input#horaActual {
  font-size: 2rem;
  border-radius: 3.5px;
  border: 0.18rem solid #777;
  padding: 5px 5px;
  outline: none;
}

input:focus {
  border-color: #4085f4;
}

.icons {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.icons i {
  font-size: 2rem;
  opacity: 0.5;
  transition: all 0.58s ease;
}

i.active {
  opacity: 1;
  font-size: 2.1rem;
  color: rgb(2, 5, 49);
}

.form-control {
  padding: 5px;
}

form .form-control input {
  width: 100%;
}
form .form-control input#ccv {
  width: 58px;
}
.fecha-actual {
  text-transform: capitalize;
}
