@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    text-decoration: none
}

img {
    width: 200px;
    height: 200px !important;
    object-fit: cover;
}

.card{
    text-transform: capitalize;
    /* width: 200px; */
}
.card-action {
    max-width: 100%;
}
