@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
}

h1 {
    padding: 10px 0;
}

h1 span {
    font-size: 2.5rem;
    font-family: 'DM Sans', sans-serif;
    background-color: #eaff6a;
    padding: 0 0.4rem;
    font-weight: 700;
}

h2 {
    margin-left: 3px;
}